$cvs-color: #C81500;

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// Page Main Logo "<3 PVS Pharmacy"
div.logo{
    cursor: pointer;
    color: $cvs-color;
    text-align: center;
    h2{
        font-size: 1.2rem;
        span{
            margin-left: 2px;
            font-weight: 200;
        }
        sup{
            font-size: 8px;
        }
    }
}


// Buttons used for website
.reg-button{
    margin:10px 0px;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;

    &.red{
        border:none;
        background-color: $cvs-color;
        color: #fff;

        &:hover{
            background-color: rgb(240, 37, 37);
        }
    }
    &.white{
        border: 1px solid $cvs-color;
        color: $cvs-color;
        background-color: #fff;

        &:hover{
            color: rgb(240, 37, 37);
        }
    }
}

// For smaller devices to make the navbar not move when user scrolls
div.fixed{
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

// Extra information about something on top
// of the page.
div.extra-nav{
    background-color: #fff;
    text-align: center;
    padding: 15px 40px;
    line-height: 1.3rem;
    strong{
        a{
            text-decoration: none;
            color: $cvs-color;
        }
    }
}

// Main Navigation bar for smaller devices
nav#navbar{
    width:100%;
    background-color: $cvs-color;
    display:grid;
    grid-template-columns: 40px 1fr 50px 50px;
    padding: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    div{
        display: inline;
        cursor: pointer;
        h1,h2,h3{
            color:#fff;
        }
    }

    div.menu-bar{
        color: #fff;
    }

    div.search, div.cart{
        color: #fff;
    }
}

// Searchbox + PVS logo
div.wrapper-2{


    div.searchbox{
        margin-top: 165px;
        padding: 0px 10px;
        border: 2px solid rgb(220, 220, 220);
        height: 50px;
        i.fa-search{
            font-size: 1.3rem;
            color: red;
            cursor: pointer;
        }
        input{
            display:inline;
            border:none;
            width: 80%;
            height: 100%;
            font-size: 1.3rem;
            padding-left: 10px;
            &:focus, &:hover{
                border-color: sandybrown;
            }
        }
    }
}

// Quick links if user doesn't want to waste time and get straight to them.
section#fast-links{
    div.wrapper{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-gap: 10px;
        padding: 5px 8px 8px 8px;
        align-items: center;
        justify-items: center;
        div.item{
            cursor:pointer;
            background-color: #E8F6F9; 
            width: 100%;
            height: 60px;
            display:flex;
            flex-wrap: wrap;
            align-content: center;
            h4{
                display: inline-block;
                color: #CC0000;
                flex:10;
                margin-left: 10px;
            }
            span{
                flex:1;
                color: #CC0000;
            }

            &:hover{
                text-decoration: underline $cvs-color;
            }
        }
    }
}

// class name speaks for itself.
// Covid Information section
section#covid-info{
    border: 1px solid rgb(220,220,220);
    width: 99%;
    margin:auto;
    h1{
        padding: 15px;
        font-size: 2rem;
    }
    p{
        padding: 15px;
    }


    div.image{
        margin-top: 20px;
        text-align: center;
        img{
            width: 90%;
        }
    }
}

// Categories of the store for different products
section#categories{
    h1{
        text-align: center;
        font-size: 1.8rem;
        padding: 20px;
    }

    // Wrapper for grid to use.
    div.wrapper{
        width: 90%;
        margin:auto;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: 
        "beauty beauty"
        "health vitamins"
        "home personal"
        "vaccine vaccine"
        "photos .";
        div.item{
            background-color: rgb(218, 213,213);
            p{
                text-align: center;
                padding: 5px 10px;
                margin-left: 10px;
                font-size: 1rem;
                font-weight: 700;
            }
            div.image{
                text-align: center;
                padding: 5px;
                img{
                    width: 90%;
                }
            }

            &:hover{
                cursor: pointer;
                p{
                    color: $cvs-color;
                }
            }
            
            &.beauty{
                grid-area: beauty;

                div.image{
                    padding: 20px;
                    background-image: url('../images/categories/beauty.jpg');
                    width: 90%;
                    min-height: 400px;
                    margin:auto;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            &.health{
                grid-area: health;
            }
            &.vitamins{
                grid-area: vitamins;
            }
            &.home{
                grid-area: home;
            }

            &.vaccine{
                grid-area: vaccine;
            }

            &.personal{
                grid-area: personal;
            }

            &.photos{
                grid-area: photos;
            }
        }
    }
}

// Section of delivery options / info
section#delivery-options{
    background-color: #00334B;
    color: #fff;
    width:100%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px 0px;
    h2{
        text-align: center;
        padding: 10px;
    }
    // Everything is inside content class
    
    div.content{
        width: 320px;
        margin: 0 auto;
        text-align: center;
        div.item{
            padding: 15px 0px;
            img{
                float: left;
                clear: left;
                margin-top: 10px;
            }

            h1,h2,h3,h4{
                padding: 10px;
            }
            
            h4{
                text-align: center;
                cursor: pointer;
                color: #B8E3EB;

                &:hover{
                    text-decoration: underline;
                }

                span{
                    text-decoration: none;
                }
            }

            p{
                font-size: 0.8rem;
            }

            &.extra{
                border-bottom: 1px solid #fff;
            }
        }
    }

}

// Location of stores / directions / office hours and etc..
section#location{
    width:100%;
    background-color: rgb(220, 219, 219);;
    div.content{
        text-align: center;

        // "Find a PVS pharmacy"
        h3{
            padding: 20px;
        }

        // address of the store
        address{
            font-size: 2rem;
            color: rgb(108, 107, 107);
            margin-bottom: 10px;
        }

        // city / zip code of the store
        p.region{
            span{
                color: $cvs-color;
                cursor: pointer;
                &:hover{
                    text-decoration: underline $cvs-color;
                }
            }
            i{
                padding: 0 5px;
                font-size: 1.3rem;
                color: black;
            }
        }

        p.office-hours{
            padding: 5px;

            &.extra{
                margin-top:10px;
            }
        }

        // Wrapper for "Phone Number" + "Directions"
        div.wrapper{
            margin: 10px 0px;
            a{
                color: $cvs-color;
                text-decoration: none;
                i{
                    color:black;
                    font-size: 1.3rem;
                }

                &.extra{
                    margin-left: 10px;
                }

                &:hover{
                    text-decoration: underline $cvs-color;
                }
            }
        }

        // Pharmacy and Photos links.
        div.services{
            padding: 20px 0px;
            
            div.item{
                text-align: center;
                padding: 20px;
                i{
                    display: inline;
                    font-size: 2rem;
                    padding: 0px 10px;
                    color: rgb(67, 145, 63);
                }

                .yellow{
                    color: rgb(160, 160, 38);
                }
                p{
                    display:inline;

                    font-size: 1.2rem;
                    color: $cvs-color;
                    margin: 0px 0px;
                    cursor: pointer;
    
    
                    &:hover{
                        text-decoration: underline $cvs-color;
                    }
    
                }
            }
        }
    }
}
// Main footer.
footer#main-footer{

    // Social media icons
    div.pre-footer{
        margin: 30px 0px;
        text-align: center;
        color: lighten($cvs-color, 10);

        h4{
            margin: 10px 0px;
        }
        // flex wrap for social media icons
        div.wrapper{
            display: flex;
            justify-content: center;

            div.item{
                padding: 5px;
                font-size: 2rem;
                cursor: pointer;
                &.fb{
                    color: dodgerblue;
                }

                &.tw{
                    color: #00acee;
                }
            }
        }
    }

    // Main Footer
    div.footer{
        background-color: rgb(65, 64, 64);
        p{
            text-align: center;
            color: #fff;
            padding: 10px;
            font-size: 0.9rem;
        }

        // Links to footer's pages
        div.menu{
            text-align: center;
            padding: 20px;
            line-height: 2rem;
            font-size: 0.9rem;
            a{
                padding: 0px 20px;
                border-right: 1px solid #fff;
                text-decoration: none;
                color: #fff;
                &.extra{
                    border:none;
                }

                &:hover{
                    text-decoration: underline #fff;
                }
            }
        }
    }
}

@import 'media';